# 25 MHz oscillator
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# PCM5102A on GN0–GN7
LOCATE COMP "pcm_flt" SITE "C11";
LOCATE COMP "pcm_dmp" SITE "A11";
LOCATE COMP "pcm_scl" SITE "B10";
LOCATE COMP "pcm_bck" SITE "C10";
LOCATE COMP "pcm_din" SITE "A8";
LOCATE COMP "pcm_lck" SITE "B8";
LOCATE COMP "pcm_fmt" SITE "C7";
LOCATE COMP "pcm_xmt" SITE "B6";
IOBUF PORT "pcm_flt" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "pcm_dmp" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "pcm_scl" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "pcm_bck" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "pcm_din" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "pcm_lck" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "pcm_fmt" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "pcm_xmt" IO_TYPE=LVCMOS33 DRIVE=4;

# SD card (SPI mode)
LOCATE COMP "sd_clk" SITE "H2";
LOCATE COMP "sd_cmd" SITE "J1";
LOCATE COMP "sd_d0" SITE "J3";
LOCATE COMP "sd_d3" SITE "K2";
IOBUF PORT "sd_clk" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_cmd" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_d0" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "sd_d3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# LEDs (active high)
LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[7]" SITE "H3";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 DRIVE=4;

# FIRE1 button (replay)
LOCATE COMP "btn_fire1" SITE "R1";
IOBUF PORT "btn_fire1" PULLMODE=DOWN IO_TYPE=LVCMOS33;
